<header><h1 class="headline">• About us •</h1></header>
<section >
  <div class="site-review">
    The IScout application offers a convenient platform for football players and scouters to interact with each other.<br>
    The site allows players to expose themselves easily and be evaluated for their skills,
    while on the other side it shows the scouters players that will most likely suit their needs.
    <aside class="note">-Become a legend-</aside>
  </div>
  <div class="twitter">
    <a class="twitter-timeline" data-width="300" data-height="300" href="https://twitter.com/TrollFootball?ref_src=twsrc%5Etfw">Tweets by TrollFootball</a>
  </div>
</section>
<video width="350" height="250" autoplay>
  <source src="../../../assets/videoplayback.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
<footer class="foot">
  <h4 class="foot-headline">• IScout •</h4>
</footer>
